



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boots Cart-ADMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <link rel="stylesheet" href="assets/css/linearicons.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/nouislider.min.css">
	<link rel="stylesheet" href="assets/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="assets/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/style1.css">
    <link rel="stylesheet" href="assets/css/style2.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">




<!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet">

   

</head>

<body>
    
   
    

<!-- Start Header Area -->
 <header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container-fluid"> 
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/home"><img src="assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/admin/home">Dashboard</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/category">Categories</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/product">Products</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/order">Orders</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/loadCoupon">Coupon</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/banner">Banner</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/user">Users</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/admin/logout">Logout</a></li>
                    </ul>  
                </div>
                
 
                
            </div>
        </nav>
    </div>
    
</header>
<!-- End Header Area -->


    
    
